* {
    box-sizing: border-box;
  }
  button[type="submit"] {
    align-content: center;
    width: 400px;
    padding: 10px;
    padding-left: auto;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background-color: #9e4fd2;
    font-size: 16px;
    cursor: pointer;
  }

  .index-body{
    background-color: #DBD6CB;

  }
  /* Styles for the form container */
  .form-log-container {
    max-width: 500px;
    height: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.image2{
    border-radius: 5px;
    width: 100%;
    height: 200px;
    margin-bottom: 80px;
}
.form-label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Styles for the form inputs */
.form-input {
    align-content: center;
    width: 400px;
    padding: 10px;
    padding-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    border: none;
    border-radius: 20px;
    background-color: #e6e6e6;
    font-size: 16px;
}


.log-forgot{
    text-decoration: none;
    padding-left: 180px;
}
#form-log-log{
    padding: 10px;
    margin-bottom: 10px;
}
.form-log-login {
    text-decoration: none;
    color: #9e4fd2;
    cursor: pointer;
    font-size: 16px;
    padding-left: 20px;
}
.sign-up{
    padding-left: 120px;
}